html



p {

    padding: 0,5%;
        
    text-align: justify;
}


p {


    text-align: justify;
}


img {
    border-radius: 10%;

    border-image-width: 100;

    text-align: center;

}

#imagem{
    text-align: center;
    border-radius: 5%;

    border-image-width: 400;

    text-align: center;
}